* {
  box-sizing: border-box;
  margin: 5px;
}

body{
  font-family: tahoma;
  line-height: 1.5;
  font-size: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

h4{
  margin-top: 5px;
  font-weight: bold;
}
p{
  text-align: justify;
  margin-top: 5px;
}

#row-1, #row-2, #row-3{
  background-color: gray;
  border: 2px solid black;
  width: 400px;
  height: 200px;
  padding: 10px;
  border-right-width: 0px;
  border-right-style: solid;
  margin-right: -10px;
  margin-left: 40px;
  vertical-align: center;
  position: relative;
  overflow: hidden;
  float: left;
}

#box1, #box2, #box3{
  border: 1px solid black;
  width: 80px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}


#box1{
  background-color: pink;
}

#box2{
  background-color: red;
  color: white;
}

#box3{
  background-color: lightgoldenrodyellow;
}


/** Large Devices **/
@media (min-width: 992px){
  .row{
 }
}


/** Medium Devices **/
@media (min-width: 768px) and (max-width: 991px){
.row{
  width: 50%;
  float: left;
  padding: 15px;
 }

h2{
  margin-bottom: 50px;
}

#row-1, #row-2{
  background-color: gray;
  border: 2px solid black;
  width: 350px;
  height: 200px;
  padding: 10px;
  border-right-width: 0px;
  border-right-style: solid;
  margin-right: 0px;
  margin-left: 0px;
  overflow: hidden;
  float: left;
  clear: left;
}

#row-3{
  width: 210%;
  margin-left: 0px;
}

h4 {
  margin-top: 2px;
  font-size: 12px;
}

p{
  font-size: 14px;
}

#box1 {
border: 1px solid black;
height: 30px;
width: 60px;
text-align: center;
margin-left: 288px;
margin-top: -10px;
}

 #box2 {
border: 1px solid black;
height: 30px;
width: 60px;
text-align: center;
margin-left: 288px;
margin-top: -10px;
}

 #box3 {
  border: 1px solid black;
  height: 30px;
  width: 60px;
  text-align: center;
  margin-left: 662px;
  margin-top: -10px;
}

body{
  font-size: 1em;
}

}


/** Small Devices **/
@media (min-width: 0px) and (max-width: 767px){
  body{
    font-size: .8em;
  }
#row-1, #row-2, #row-3 {
  width: 98%;
  padding: 5px;
  margin-top: 0px;
  margin: 5px;
  margin-right: -10px;
 }

h4{
  margin-top: 10px;
  font-weight: bold;
}

#box1, #box2, #box3{

}

}
